.App {
  text-align: center;
}

.dailyWeather {
  list-style: none;
  border: 2px black solid;
  margin: 10px;
  margin-top: ;
}

.loTemp {
  opacity: 40%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 100px;
}

.dailyContainer{
  margin-top: 5%;
}

.header {
  font-size: 50px;
}

.header2 {
  font-size: 30px;
}

/* * {
  background-image: url(https://images.pexels.com/photos/296234/pexels-photo-296234.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: 100%;
  background-color: transparent;
} */