.App {
  text-align: center;
}

.dailyWeather {
  list-style: none;
  border: 2px black solid;
  padding: 10px;
}

.loTemp {
  opacity: 40%;
}

.container {
  display: flex;
  justify-content: space-evenly;
}